@font-face {
    font-family: "TT Lakes";
    src: local("TT Lakes"),
    url("/TTLakes/TTLakes-Medium.woff") format("woff2");
}
body {
    font-family: "TT Lakes", sans-serif;
    background-color: white;
    margin: 0 0;
    padding: 0 0;
    width: 100%;
    height: 100%;
    @media (min-width: 1120px) {
        background-color: #F8F8F8  
    }
}
header {
    @media (min-width: 1120px) {
        display: none;
    }
}
.panel {
    max-height: 88px;
    min-width: 320px;
}
.header--768 {
    display: flex;
     flex-direction: row;
     justify-content: space-between;
     height: 88px;
     margin-left: 24px;
     margin-right: 24px;
     @media not (min-width: 720px) {
         display: none;
     }
 }
 .header-left {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     gap: 20px;
     padding-top: 24px;
     padding-bottom: 24px;
 }
 .header-right {
     display: flex;
     justify-content: flex-end;
     align-items: flex-end;
     gap: 15px;
     padding-top: 24px;
     padding-bottom: 24px;
 }
 header .header--768 .header-right:nth-child(1),
 header .header--768 .header-right:nth-child(2),
 header .header--768 .header-right:nth-child(3) {
     gap: 16px;
 }
 .header--320 {
     display: flex;
     flex-direction: row;
     justify-content: space-between; 
     align-items: center;
     margin: 16px 16px;
     gap: 16px;
     @media (min-width: 768px) {
         display: none;
     }
 }
main {
    min-width: 320px;
    background-color: #f8f8f8;
    height: 509px;
    border-top: 1px solid #D9FFF5;
    @media (min-width: 768px) {
        height: 416px;
    }
}
.main__title {
    margin-bottom: 24px;
    @media (min-width: 768px) {
        margin-bottom: 0;
    }
}
@media (min-width: 1120px) {
    .main__title {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 30px 32px 0 0;
    }
}
.title {
    background: url(highlight.svg) no-repeat left;
    margin: 0 0;
    padding: 16px 24px;
    margin-bottom: -14px;
    @media (min-width: 768px) {
        padding: 24px 24px; 
        margin-bottom: 0;   
    }
}
h1 {
    display: block;
    color: #1B1C21;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
}
.main__title--right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    @media not (min-width: 1120px) {
        display: none;
    }
}
.main__title--right--repair {
    display: flex;
    align-items: center;
    gap: 8px;
    @media not (min-width: 1120px) {
        display: none;
    }
}
.main__title--right--ckeckstatus {
    display: flex;
    align-items: center;
    gap: 9px;
    @media not (min-width: 1120px) {
        display: none;
    }
}
nav {
    padding: 0;
    margin: 0 16px 0 16px;
    display: block;
    overflow: hidden;
    @media (min-width: 768px) {
        margin: 0 24px 0 24px;
    }
}
@media (min-width: 1120px) {
    nav {
        padding: 0;
        margin: -8.37px 32px 0 37px;
    }
}
.nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #7e7e82;
    list-style-type: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    padding: 0;
    margin: 0;
    @media (min-width: 1120px) {
        flex-wrap: wrap;
    }
} 
li {
    display: list-item;
}
.nav__point, .nav__point-active {
    font-size: 16px;
    padding: 8px 16.67px 8px 16.67px;
    margin: 0;
    white-space: nowrap;
}
.nav__point-active {
    background-color: white;
    border-radius: 6px;
    border: 2px solid #d9fff5;
}
.content {
    margin-top: 24px;
    @media (min-width: 768px) {
        margin-top: 32px;
        display: flex;
        flex-direction: row;
        gap: 48px;
    }
}
.content__text {
    display: flex;
    flex-direction: column;
    margin: 0px 16px 0 16px;
    @media (min-width: 768px) {
        margin: 0 0 54px 24px;
        gap: 10px;
        justify-content: flex-start;
    }
}
.content__text--320,
.content__text--768,
.content__text--1020 {
    color: #1B1C21;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin: 0;
}
@media (min-width: 320px) {
    .content__text--768 {
        display: none;
    }
    .content__text--1020 {
        display: none;
    }
}
@media (min-width: 768px) {
    .content__text--768 {
        display: flex;
    }
    .content__text--1020 {
        display: none;
    }
}
.content__button {
background: transparent;
border: 0;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
padding-left: 20px;
gap: 8px;
}
.content__button__text {
    color: #1B1C21;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.2px;
}
.content__img {
    @media (min-width: 768px) {
        border-radius: 10px;
        margin-right: 25px;
        margin-bottom: 14.34px;
    }
}
@media (min-width: 1020px) {
    .content__text {
        margin: 0 0 54px 34px;
        gap: 13.78px;
        justify-content: flex-start;
    }
    .content__text--768 {
        display: none;
    }
    .content__text--1020 {
        display: flex;
    }
    .content__img {
        width: 531.346px;
        height: 383.241px;
    }
}